.flights {

  &-divider {
    width: 100%;
    height: 3px;
    background: #0087c9;
  }

  &-group {
    margin-bottom: 10px;
  }

  &-navbar {
    background-color: #0087c9;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding: 0.5em;
  }

  &-price {
    display: flex;
    flex-direction: column;

    &__amount {
      margin-left: auto;
      font-weight: bold;
      font-size: 20px;
    }

    &__paragraph {
      font-size: small;
    }
  }
}